<div class="d-flex align-items-center justify-content-center">
    <h1>Bienvenido al Timer Social!</h1>

    <div>
        <% if @user %>
        Logged in as: <%= @user.email%>
        <% end %>
    </div>
</div>