<h1>Olvid칩 su contrase침a?</h1>

<%= form_with url: password_reset_path do |form| %>
<div class="mb-3">
    <%=form.label "Ingrese el mail de su cuenta para iniciar la recuperaci칩n: "%>
    <%=form.text_field :email, class: "form-control", placeholder: "ejemplo@email.com"%>
</div>

<div class="mb-3">
    <%= form.submit "Recuperar Contrase침a", class: "btn btn-primary"%>
</div>
<% end %>